<?xml version="1.0"?>
<config>
    <modules>
        <Exinent_Productattrupdate>
            <version>1.1.1</version>
        </Exinent_Productattrupdate>
    </modules>
    <global>
        <helpers>
            <productattrupdate>
                <class>Exinent_Productattrupdate_Helper</class>
            </productattrupdate>
        </helpers>
        <blocks>
            <productattrupdate>
                <class>Exinent_Productattrupdate_Block</class>
            </productattrupdate>
        </blocks>
        <models>
            <productattrupdate>
                <class>Exinent_Productattrupdate_Model</class>
                <resourceModel>productattrupdate_mysql4</resourceModel>
            </productattrupdate>
        </models>
        <events>
            <catalog_product_save_before>
                <observers>
                    <catalog_product_save_before_handler>
                        <type>model</type> 
                        <class>productattrupdate/observer</class> 
                        <method>createupdatesortattributes</method>
                        <args></args> 
                    </catalog_product_save_before_handler>
                </observers>
            </catalog_product_save_before>
        </events>
        <resources>
            <exinent_search_setup>
                <setup>
                    <module>Exinent_Productattrupdate</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </exinent_search_setup>
            <exinent_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </exinent_write>
            <exinent_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </exinent_read>
        </resources>
    </global>
    <admin>
        <routers>
            <productattrupdate>
                <use>admin</use>
                <args>
                    <module>Exinent_Productattrupdate</module>
                    <frontName>productattrupdate</frontName>
                </args>
            </productattrupdate>
        </routers>
    </admin>
</config> 